# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environment
env/
venv/

# Environment files
.env
*.env
logs/
*.log
*Log*

# VSCode Config
.vscode/

# System Files
.DS_Store
Thumbs.db